
body{
    display: flex;
    width: 90%;
    height: 800px;;
    background-color:rgb(235, 233, 229);
    margin: 0px;
}

.gallery  .more img {
    transform: scale(1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
 .more:hover img {
    transform: scale(1.7)
}

.gallery{
    width: 98%;
    height: 100px;
    padding: 15px;
    display: flex;
    border-radius: 15px;
    background-color: rgba(103, 189, 189, 0.74);
    margin: 20px;
    
    
}
#main {
    width: 100%;
    height: 100%;
    display: flexbox;
    flex-direction:row;
    margin: 100px;

    
}
 img{
border: gold 2px solid;
border-radius: 50px;

}
.more{
    width: 115px;
    height: 115px;
    border-radius: 5px;
    margin-bottom: 10px;
}
h1{
    font-family: sans-serif;
    text-align: center;
    font-size: 25;
    color: lightslategrey;
}
h1 span {
    font-family: sans-serif;
    font-size: 40px;
    color: lightslategray;

}

.gallery .sect {
    width: 48%;
    margin-left: 100px;

    color: honeydew;
}
 h2{
    text-align: center;
    text-decoration: none;
    color: white;
}
a {
    text-decoration: none;
}

.gallery  .sect h2 {
    transform: scale(1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
 .sect:hover h2 {
    transform: scale(1.3)
}
.dark{
    background-color: rgba(63, 63, 63, 0.712);
    border: gold 2px solid;
    width: 100%;
    height: 50px;
    margin-left: 15px;
}









@media only screen and (max-width:600px){
    body{
        background-color: rgb(239, 239, 247);
    }
   .sect a h2{
        font-size: 10px;
        text-align: center;
        margin-right: 50px;
        text-decoration: none;
    }
    
    
    h1{
        font-size: 10px;
        text-align: center;
    }
}